
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
  

  
  body {
    background-color: black;
  }

  
.container-game{
  height: 800px;
  width: 1200px;
  display: flex;
  
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px auto;
}


.container-game-segundacena{
  height: 800px;
  width: 1200px;
  display: flex;
  
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px auto;
}



.sobre-gamifica-segunda-cena{
  width: 400px;
  height: 500px;
  padding: 40px;
  background-color: white;
  border-radius: 30px;
  color: black;
  font-family: "Anta";
  position: absolute;
  top: 10%;
  right: 5%;
  
  border: solid 15px #cf5830;
}

.sobre-gamifica{
  width: 400px;
  height: 500px;
  padding: 40px;
  background-color: white;
  border-radius: 30px;
  color: black;
  font-family: "Anta";
  position: absolute;
  top: 10%;
  left: 5%;
  
  border: solid 15px #cf5830;
}

.sobre-gamifica h2{
  margin-bottom: 40px;
  font-size: 30px;
  text-align: center;
}
.sobre-gamifica p{
  text-align: justify;
  font-size: 16px;
  line-height: 2;
}


.sobre-gamifica-segunda-cena h2{
  margin-bottom: 40px;
  font-size: 30px;
  text-align: center;
}

.sobre-gamifica-segunda-cena p{
  text-align: justify;
  font-size: 16px;
  line-height: 2;
}